.page--four {
  padding-top: 55px;
  padding-bottom: 55px;
  .description {
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
    line-height: 1.7;
    max-width: 400px;
    @include mobile {
      font-size: 16px;
      margin-top: 17px;
      margin-bottom: 15px;
      max-width: 325px;
    }
  }
  .btn {
    min-width: 230px;
    @include mobile {
      min-width: 200px;
    }
  }
}