.email-form {
  display: flex;
  width: 400px;
  position: relative;

  .hbspt-form {
    width: 400px;

    .submitted-message {
      padding: 12px;
      border-radius: 8px;
      background-color: rgba(255, 255, 255, 0.12);
      color: white;
    }

    form {
      display: flex;
      width: 400px;
      position: relative;

      .hs-error-msgs {
        position: absolute;
        color: rgba(255, 255, 255, .5);
        line-height: 14px;
        transform: translate3d(0, 10px, 0);
        transition: transform .2s ease, opacity .2s ease;

        a {
          color: rgba(255, 255, 255, 1);
        }

        li {
          text-align: left;

          label {
            font-size: 14px;
            font-family: 'PostGrotesk-Book', sans-serif;
          }
        }
      }

      .hs_error_rollup {
        display: none
      }

      .hs_email {
        width: 215px;

        & > label {
          display: none;
        }

        &,
        input[type="email"] {
          width: 215px;
          margin: 0 10px 0 0;
        }

        input[type="email"] {
          text-align: left;
          background-color: rgba(255, 255, 255, 0.12);
          color: white;
          width: 215px;
          padding: 0 15px;
          font-family: 'PostGrotesk-Book', sans-serif;
          box-sizing: border-box;
          transition: background-color .2s ease;
          font-weight: 400;
          font-size: 15px;

          &:disabled {
            color: rgba(255, 255, 255, .4);
            background-color: rgba(255, 255, 255, .12);
            opacity: 1;
          }

          &:focus {
            background-color: rgba(255, 255, 255, .2);
            color: rgba(255, 255, 255, 1);
          }

          &::-webkit-input-placeholder {
            color: rgba(255, 255, 255, .6);
          }
          &::-moz-placeholder {
            color: rgba(255, 255, 255, .6);
          }
          &:-ms-input-placeholder {
            color: rgba(255, 255, 255, .6);
          }
          &:-moz-placeholder {
            color: rgba(255, 255, 255, .6);
          }
        }
      }

      .hs-input {
        height: 45px;
        line-height: 45px;
        border-radius: 8px;
      }

      .hs_submit {
        width: 220px;
        box-sizing: border-box;
        flex-shrink: 0;
        flex-grow: 0;

        input[type="submit"].hs-button {
          display: block;
          height: 45px;
          line-height: 43px;
          padding: 0 20px;
          font-family: "PostGrotesk-Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
          font-size: 13px;
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 1px;
          color: white;
          background-color: #68c0f8;
          border-radius: 8px;
          transform: translate3d(0, 0, 0) scale(1);
          transition: transform .1s ease, box-shadow .2s ease, background-color .2s ease;
          -webkit-appearance: none;
          cursor: pointer;
          width: auto;
          flex-shrink: 0;
          flex-grow: 0;

          &:disabled {
            cursor: default;
            color: rgba(255, 255, 255, .5);

            &:hover {
              background-color: rgba(104, 192, 248, 1);
            }
          }

          &:active {
            transform: translate3d(0, 0, 0) scale(.99);
          }

          &:hover {
            background-color: rgba(132, 207, 255, 1);
          }
        }
      }
    }
  }
}

.event-form {
  margin-bottom: 32px;

  .hbspt-form * {
    font-size: 16px;
  }

  .hbspt-form {
    text-align: left;

    .hs-form-required {
      color: red;
    }

    .hs-error-msgs label {
      color: red;
      font-size: 14px;
    }

    .hs-form-field {
      & > label {
        font-weight: 600;
        margin-top: 24px;
        margin-bottom: 8px;
      }

      .hs-form-radio {
        input {
          margin-left: 12px;
          margin-right: 12px;
        }
      }
    }

    .hs_submit {
      margin-top: 16px;
      box-sizing: border-box;
      flex-shrink: 0;
      flex-grow: 0;

      input[type="submit"].hs-button {
        display: block;
        height: 45px;
        line-height: 43px;
        padding: 0 20px;
        font-family: "PostGrotesk-Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
        font-size: 13px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
        color: white;
        background-color: #68c0f8;
        border-radius: 8px;
        transform: translate3d(0, 0, 0) scale(1);
        transition: transform .1s ease, box-shadow .2s ease, background-color .2s ease;
        -webkit-appearance: none;
        cursor: pointer;
        width: auto;
        flex-shrink: 0;
        flex-grow: 0;

        &:disabled {
          cursor: default;
          color: rgba(255, 255, 255, .5);

          &:hover {
            background-color: rgba(104, 192, 248, 1);
          }
        }

        &:active {
          transform: translate3d(0, 0, 0) scale(.99);
        }

        &:hover {
          background-color: rgba(132, 207, 255, 1);
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .email-form {
    width: 100px;

    .hbspt-form {
      form {
        width: 100%;

        .hs-error-msgs {
          line-height: 20px;
          top: 45px;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1030px) {

  .email-form {
    &,
    .hbspt-form {
      width: 100%;

      form {
        width: 100%;
        flex-direction: column;

        .hs-error-msgs {
          top: 100px;
        }

        .hs_email {
          margin: 0 0 10px 0;

          &,
          input[type="email"] {
            width: 100%;
          }
        }

        .hs_submit {
          &,
          input[type="submit"].hs-button {
            width: 100%;
          }
        }
      }
    }
  }
}
