
.slide.podcast-slide {
  .slide__inner {
    background-color: #4957B8;
    background-image: url(../img/podcast/podcast-bars.png);
    background-position: right 120px;
    background-repeat: no-repeat;
    background-size: 600px 600px;
    margin: 0;
    max-width: 1080px;
    padding: 0 140px;
    position: relative;
    transform: translate3d(0, 0, 0);
    transition: transform .6s ease, opacity .3s ease;
    width: 100%;

    .header {
      position: relative;
      top: initial;
      bottom: initial;
      padding: 30px 0px;

      .nav {
        .nav__item {
          font-size: 12px;
        }
      }

      .logo {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .logo__icon {
          background-image: url(../img/podcast/logo-white-circle.svg);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          height: 34px;
          text-align: right;
          width: 34px;
          min-width: 34px;
        }

        .logo_text {
          margin-left: 12px;

          .logo__title {
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0;
          }
        }
      }
    }

    .intro {
      color: $colorWhite;
      font-family: $PostGroteskMedium;
      padding: 100px 0 140px 0;
      position: relative;

      .intro__title {
        font-size: 48px;
        font-weight: 900;
      }

      .intro__subtitle {
        font-size: 26px;
        margin-top: 18px;
      }

      .intro__body {
        color: $colorWhite;
        font-size: 14px;
        font-weight: 100;
        line-height: 18px;
        margin-top: 60px;
        max-width: 300px;
      }

      .intro__form {
        .intro__form--subscribe {
          background-color: #68c0f8;
          border-radius: 5px;
          color: $colorWhite;
          font-family: $PostGroteskMedium;
          font-size: 12px;
          letter-spacing: 2px;
          margin-top: 22px;
          padding: 12px 18px;
          text-transform: uppercase;
        }
      }
    }

    .podcast-bars {
      background-image: url(../img/podcast/podcast-bars.png);
    }
  }

  .podcast-wrap {
    background: $colorWhite;
    display: flex;
    width: 100%;
    max-width: 1080px;
    justify-content: space-around;
    padding: 100px 20px;

    .podcast {
      margin: 0;
      border-radius: 0;
      height: auto;
      flex-direction: column;
      padding: 5px 20px 5px 10px;
      max-width: 900px;

      .podcast__item {
        &:not(:first-child) {
          margin-top: 16px;
        }

        .podcast__title {
          font-size: 24px;
          font-weight: 900;

        }

        .podcast__description {
          color: #999;
          font-size: 12px;
          font-weight: 400;
          margin-top: 8px;
        }

        .podcast__play-button {
          align-items: center;
          border-radius: 100%;
          border: 3px solid #4360df;
          color: #4360df;
          display: flex;
          font-size: 26px;
          height: 32px;
          justify-content: center;
          margin-top: 16px;
          padding: 8px 5px 8px 11px;
          width: 32px;
        }
      }
    }
  }
}
